/******************************************************/
/************* styles for the left column *************/
/******************************************************/


.title {
	color: darkgray;
	height: 30px;
	padding: 18px 0 12px 0;
	margin-top: 0;
	margin-bottom: -2px;
}

.title, .links li:hover {
	background-color: #D3D3D3;
}

.title, .bot-option {
	text-align: center;
}

.tab-area, .greeting, .tabs {
	background-color: #F5F5F5;
}

.greeting {
	width: 100%;
	height: 55px;
	display: inline-block;
	font-weight: bold;
	border-bottom: 1px solid #D3D3D3;
	padding-top: 5px;
}

.greeting img {
	padding: 5px 30px 5px 15px;
}

.greeting img, .links img {
	float: left;
}

.links {
	margin: 0 0 50px 0;
	list-style-type: none;
	padding-left:0px;
	display: inline-block;
	width: 100%;
	overflow: auto;
}

.links, .dropdown-menu li {
	list-style-type: none;
}

.links li {
	padding: 10px 15px 10px 15px;
}

.links a {
	text-decoration: none;
	color: #000000;
}

.links img {
	padding-right: 25px;
}

.links p {
	padding: 0;
}

.links button {
	float: right;
	background-color: #FFA500;
	color: #FFFFFF;
	border: none;
	border-radius: 3px;
}