* {
	font-family: 'Lato', sans-serif;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.container {
	white-space: nowrap;
	overflow: hidden;
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
	height: 100%;
}

.left-col {
	background-color: #F5F5F5;
	position: relative;
	display: inline-block;
	width: 20%;
	vertical-align: top;
	border-right: 1px solid lightgrey;
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  	page-break-inside: avoid; /* Firefox */
   	break-inside: avoid; /* IE 10+ */
	min-height: 100vh;
	margin-bottom: -2px;
}

.mid-col {
	position: relative;
	display: inline-block;
	width: 75%;
}

.right-col {
	background-color: #F5F5F5;
	width: 5%;
}

.title {
	color: darkgray;
	text-align: center;
	background-color: lightgrey;
	height: 30px;
	padding: 18px 0 12px 0;
	margin-top: 0;
	margin-bottom: -2px;
}

.tab-area {
	background-color: #F5F5F5;
}

.greeting {
	width: 100%;
	height: 55px;
	display: inline-block;
	font-weight: bold;
	background-color: #F5F5F5;
	border-bottom: 1px solid lightgray;
	padding-top: 5px;
}

.greeting img {
	float: left;
	padding: 5px 30px 5px 15px;
}

.tabs {
	background-color: #F5F5F5;
}

.links {
	list-style-type: none;
	margin-left:0px;
	padding-left:0px;
	display: inline-block;
}

.links li {
	padding: 5px 15px 10px 15px;
}

.links a {
	text-decoration: none;
	color: black;
}

.links img {
	padding-right: 25px;
	float: left;
}

.links p {
	text-align: right; 
	display:inline-block;
	padding: 0;
}


