/* main style sheet */

* {
	font-family: 'Lato', sans-serif;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	min-width: 1000px;
}

a {
	text-decoration: none;
}

.container {
	white-space: nowrap;
	overflow: hidden;
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
	height: 100%;
}

.left-col {
	width: 20%;
	vertical-align: top;
	border-right: 1px solid #D3D3D3;
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  	page-break-inside: avoid; /* Firefox */
   	break-inside: avoid; /* IE 10+ */
	min-height: 100vh;
	margin-bottom: -2px;
}

.mid-col {
	width: 75%;
}

.right-col {
	width: 5%;
}

.left-col, .right-col {
	background-color: #F5F5F5;
}